 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am an (almost) Informatics Engineer from Universidad Catolica Andres Bello, located in Caracas, Venezuela. During my studies I served as a teaching assistant for the course "Calculus I for engineering" for two and a half years, and built robots with the <a href="http://wolfgang.obando.com.ve/roa/proyectos-del-grupo/">robotics and automation group</a>.</p> <p>For my (Bachellor) thesis, worked on developing the electronics, software ground station, wireless communication and a PID control algorithm to stabilize and control a low-cost quadrotor platform.</p>
                </div>
                <div class="col-lg-4">
                    <p>My main dream and goal in life is to pursue a career in robotics research, in the fields of optimal control theory and computer vision.</p>
					<p>In my free time I enjoy running, playing soccer (That's the joy in life), studying mathematics, playing guitar, hanging out with friends, and reading a lot.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>